<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IDS System</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <div class="img"></div>
                <div class="text">IDS</div>
            </div>
            <div class="right">
                <a href="/hospital/login">Hospitals</a>
                <a href="/doctor/login">Doctors</a>
                <a href="/lab_attendant/login">Lab Assistants</a>
                <a class="login" href="/patient/login">Patients</a>
            </div>
        </nav>

        <div class="banner-container">
            <div class="left">
                <div class="top-text">Lorem ipsum dolor</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae doloremque earum ex illum nam perspiciatis.</p>
                <div class="store-links">
                    <div class="img">
                        <img src="/images/136px-Get_it_on_Google_play.svg.png" alt=""/>
                    </div>
                    <div class="img">
                        <img src="/images/135px-Download_on_the_App_Store_Badge.svg.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="img"></div>
            </div>
        </div>

    </header>
    <section class="features">
        <div class="feature-head">Features Of The App</div>
        <div class="row">
            <div class="col">
                <div class="icon icon_1"></div>
                <div class="text">
                    <div class="text-header">Lorem ipsum dolor sit.</div>
                    <div class="real-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="icon icon_2"></div>
                <div class="text">
                    <div class="text-header">Lorem ipsum dolor sit.</div>
                    <div class="real-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="icon icon_3"></div>
                <div class="text">
                    <div class="text-header">Lorem ipsum dolor sit.</div>
                    <div class="real-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="icon icon_4"></div>
                <div class="text">
                    <div class="text-header">Lorem ipsum dolor sit.</div>
                    <div class="real-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
