* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

header {
  background-image: linear-gradient(45deg, rgba(15, 76, 117, 0.9), rgba(61, 213, 225, 0.9)), url(../images/smartphone-mockup-cw-rotated-lies-surface-isolated-white-background-lying-table-office-desk-new-modern-black-frameless-101077232.jpg);
  height: 500px;
  width: 100%;
  padding: 20px 5%;
  box-sizing: border-box; }
  header nav {
    height: 100px;
    width: 100%; }
    header nav .logo {
      height: 90px;
      width: 200px;
      float: left; }
      header nav .logo .img {
        background-image: url(../images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        height: inherit;
        width: 100px; }
      header nav .logo .text {
        font-size: 45px;
        color: #fff;
        float: left;
        margin-top: 10px; }
    header nav .right {
      height: 60px;
      width: auto;
      float: right;
      margin-top: 25px; }
      header nav .right a {
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: bolder;
        border-radius: 2px; }
      header nav .right a:not(.login) {
        margin-right: 10px; }
      header nav .right a.login {
        border: 1px solid #fff; }
      header nav .right a:hover {
        background-color: #fff;
        color: #3dd5e1;
        transition: .2s ease-in; }
  header .banner-container {
    height: 200px;
    width: 100%; }
    header .banner-container .left {
      width: 50%;
      height: inherit;
      float: left;
      margin-top: 50px; }
      header .banner-container .left .top-text {
        color: #fff;
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif; }
      header .banner-container .left p {
        margin-top: 30px;
        color: #fff;
        font-size: 19px;
        font-family: 'Ubuntu', sans-serif; }
      header .banner-container .left .store-links {
        height: 50px;
        width: 100%;
        margin-top: 20px; }
        header .banner-container .left .store-links .img {
          height: 30px;
          width: auto;
          margin-right: 10px;
          float: left; }
    header .banner-container .right {
      float: left;
      height: inherit;
      width: 50%;
      padding: 20px 4%;
      box-sizing: border-box; }
      header .banner-container .right .img {
        background-image: url(../images/banner-devices.png);
        height: 150px;
        width: 60%;
        float: right;
        background-size: contain;
        padding-top: 30%;
        float: right;
        background-repeat: no-repeat; }

section.features {
  background: #f6f7fd;
  height: 600px;
  width: 100%;
  padding: 40px 7%;
  box-sizing: border-box; }
  section.features .feature-head {
    color: #333359;
    text-align: center;
    font-size: 29px;
    font-family: 'Ubuntu', sans-serif; }
  section.features .row {
    height: 150px;
    width: 100%;
    margin-top: 30px; }
    section.features .row .col {
      float: left;
      width: 47%;
      height: inherit;
      background: #fff;
      padding: 20px 3%;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.1); }
      section.features .row .col .icon {
        height: 35px;
        width: 35px;
        float: left;
        background-size: contain;
        background-repeat: no-repeat; }
      section.features .row .col .icon_1 {
        background-image: url(../images/icon_1.png); }
      section.features .row .col .icon_2 {
        background-image: url(../images/icon_2.png); }
      section.features .row .col .icon_3 {
        background-image: url(../images/icon_3.png); }
      section.features .row .col .icon_4 {
        background-image: url(../images/icon_4.png); }
      section.features .row .col .text {
        float: right;
        width: 85%;
        height: inherit; }
        section.features .row .col .text .text-header {
          font-family: 'Ubuntu', sans-serif;
          font-size: 20px;
          margin-bottom: 10px; }
        section.features .row .col .text .real-text {
          font-family: 'Ubuntu', sans-serif;
          font-size: 17px; }
    section.features .row .col:nth-child(2) {
      float: right; }

section.login_form {
  height: 100vh;
  width: 100%;
  background: #333359;
  padding: 60px 0;
  box-sizing: border-box; }
  section.login_form form.register {
    height: 450px; }
  section.login_form form {
    height: 410px;
    width: 300px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 0;
    box-sizing: border-box; }
    section.login_form form a.linkers {
      text-decoration: none;
      font-size: 13px;
      text-align: center;
      display: block;
      margin-bottom: 10px; }
    section.login_form form .logo {
      height: 90px;
      width: 150px;
      margin: 0 auto; }
      section.login_form form .logo .img {
        background-image: url(../images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        height: 60px;
        width: 70px; }
      section.login_form form .logo .text {
        font-size: 35px;
        color: #333359;
        float: left;
        margin-top: 10px; }
    section.login_form form h3 {
      color: #333359;
      text-align: center;
      font-size: 29px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: lighter;
      margin-bottom: 20px; }
    section.login_form form .input-container {
      height: 40px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px; }
      section.login_form form .input-container input {
        height: inherit;
        width: 100%;
        padding: 5px 8px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: none;
        border: 1px solid #ccc; }
      section.login_form form .input-container input[type=submit] {
        background: #333359;
        color: #fff;
        cursor: pointer; }
      section.login_form form .input-container input[type=submit]:hover {
        background: transparent;
        color: #333359;
        transition: .2s ease-in-out;
        font-weight: bolder;
        border: 1px solid #333359; }

/*# sourceMappingURL=styles.css.map */
